{% extends "base.html.twig" %}
{% block body %}
    <div class="row mb-2">
        <button type="button" onclick="window.history.back();" class="btn btn-secondary btn-sm btn-block mx-3">go back</button>
    </div>
    {{form_start(form)}}
    {{form_row(form.title, {"attr" : {"class" : "form-control mb-2"}})}}
    {{form_row(form.description, {"attr" : {"class" : "form-control mb-2"}})}}
    {{form_row(form.price, {"attr" : {"class" : "form-control mb-2"}})}}
    {{form_row(form.image, {"attr" : {"class" : "form-control mb-2"}})}}
    <button type="submit" name="submit" id="submit" class="btn btn-block {% if isEdit %} btn-warning {% else %}btn-primary{% endif %}">
        {% if isEdit %}
            Edit product
        {% else %}
            Add product
        {% endif %}
    </button>
    {{form_end(form)}}

{% endblock %}
