{% extends "base.html.twig" %}
{% block title %}Products
{% endblock %}
{% block body %}
    <div class="row">
        {% for item in products %}
            <div class="col-4 mt-2" style="min-height: 573.6px;">
                <div class="card" style="min-height: 573.6px;">
                    <div class="card-body">
                        <img onclick="location.href='/product/{{item.id}}'" src="{{item.image}}?{{item.price}}" class="img-fluid mb-2" alt="{{item.title}}">
                        <h4 class="card-title">{{item.title}}</h4>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text">{{item.price}}
                            $</p>
                        <button onclick="location.href='/product/{{item.id}}'" class="btn btn-primary btn-sm">View</button>
                        <button onclick="location.href='/product/edit/{{item.id}}'" class="btn btn-warning btn-sm mx-2">Edit</button>
                        <button onclick="deleteProduct({{item.id}})" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
